<!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div ng-controller="OrgTreeCtrl">
      <div class="page-content">
        <div class="box" style="overflow-x:scroll; white-space:nowrap;" >
          <div class="note note-info note-bordered"><h4><%= t('organizationstructure.title')%></h4></div>
          <div google-chart chart="chart"//>
        </div>
      </div>
    </div>
    <!-- END CONTENT BODY -->
  </div>
<!-- END CONTENT -->

<style type="text/css"> 
.google-visualization-orgchart-table * {
  margin: 0;
  padding: 5px 8px;
}
.google-visualization-orgchart-node{
  background-color: #37424a;
  background: #37424a;
  color: #fff;
  border: none;
} 
.google-visualization-orgchart-node-medium {
  font-size: 12px;
}
.google-visualization-orgchart-lineleft {
  border-left: 1px solid #01b070;
}
.google-visualization-orgchart-linebottom {
  border-bottom: 1px solid #01b070;
}
.google-visualization-orgchart-lineright {
  border-right: 1px solid #01b070;
}
</style>
